body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Varela';
  src: local('Varela'), url(./fonts/Varela-Regular.ttf) format('truetype');
}

.topBar {
  background-color: purple;
  height: 100px;
  text-align: left;
  color: white;
  margin: 0px;
}

.topBar a {
  color: white;
  text-decoration: none;
}

#logo {
  height: 100px;
}

.modal-overlay {
    background: rgba(225, 255, 255, .5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.modal {
    background-color: white;
    border: solid grey 1px;
    border-radius: 20px;
    padding: 0.1em;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 25%;
    min-height: 15%;

    box-shadow: 5px 5px 8px grey;
}

#successStoryPageImage {
  float: left;
  width: 250px;
  height: 125%;
  padding: 10px;
  border-radius: 20px;
  object-fit: contain;
}

#successStoryPageText {
  margin-left: 270px;
  min-height: 15%;
  width: 400px;
  padding: 5px;
  font-size: 0.875em;
  white-space: pre-line;
  font-family: Varela;
}

.compactView {
  height: 380px;
  border-radius: 5px;
  background-color: white;
}

#animalImage {
  width: 
}

.modal-close {
    position: relative;
    float: right;
    right: 10px;
    top: 5px;
    border: none;
    border-radius: 20px;
    background-color: lightblue;
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}

.Cards h3 {
  color: #000000;
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

@media (max-width: 1060px) {
  .CardGroup {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
      grid-template-columns: repeat(1, 1fr);
  }
}