body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bgred {
    background-color: red;
    height: 30em;
}

.modal-overlay {
    background: rgba(225, 255, 255, .5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.modal {
    background-color: white;
    border: solid black 1px;
    border-radius: 10px;
    padding: 0.1em;
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 25%;
    min-height: 15%;
}

.modal-close {
    position: absolute;
    right: 1px;
    top: 1px;
    border: none;
    border-radius: 10px;
    background-color: red;
}
