body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
    border: solid black 2px;
    margin: 2px;
}

div:hover {
    border-color: red;
}

.bgred {
    background-color: red;
    height: 30em;
}

.modal-overlay {
    background: rgba(225, 255, 255, .5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.modal {
    background-color: white;
}

