.menu {
    background-color:#F3EFFE;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    right: 100px;
    width: 2000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: 0;
    position: relative;
    top:-100px;
    margin: 0;
}


.menu__right {
    display: flex;
    width: 3500px;
    font: small-caps bold 24px/1 sans-serif;
    
    font-size: 0x;
    align-items: center;
    height: 100%;
    text-indent: 230px;
    color: black;
    
    
  
}

.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 40px;
}

.menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
    
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color: white;
    display: inline-block;
    height: 100%;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 40px;
   
    
   
    
}

.menu__link:hover {
    color:white;
}

.menu__link--active {
    color: white;
    font-weight: 500;
    
}

.menu__logo {
    text-indent: 160px;
    margin-top: 100px;
    
    
    display: inline-block;
    height: 120px;
    width: 200px;
    

    
    background-size: 35% 30%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    margin: 0;
    color: Black
    
}
.menu__logos {
    text-indent: 20px;
    margin-top: 100px;
    
    
    display: inline-block;
    height: 60px;
    width: 0px;
    font-size: 20px;
    

    
    background-size: 40% 30%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    margin: 0;
    color: Black
    
}





