.Card {
  width: 24vw;
  height: 40vw;
  position: relative;
  overflow: hidden;
  border-radius: 1.5vw;
  box-shadow: 0 1.5vw 3vw rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  transform: translateY(0);
}

.Card:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.5);
}

.Card:hover img {
  transform: translateY(-0.2vw);
}

.Card img {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

